.top-banner {
    padding-left: 10px;
    padding-bottom: 15px;
}

.main-display{
    padding: 5px;
    height: 600px;
    overflow-y:auto;
    border:solid;
    border-width: 2px;
}

.col-md-3{
    border-right:solid;
    border-right-width: 2px;
}

.main-display div{
    height: 100%;
}

.product-display{
    border:solid;
    border-width: 2px;
    padding-bottom: 10px;
}

.material-display{
    padding-top: 5px;
}

.commodity-display{
    padding-left: 10px;
}
